html,body{
  height: 100%;
  background-color: #333;
  color: #ff6666;
}

.m-t-45{
  margin-top: 45px;
}

.m-t-200{
  margin-top: 200px;
}

.puzz_img{
  width: 100%;
}

.txt{
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.6);
}

.txt2{
  font-size: 36px;
}
